.clear{
 clear: both;
}
.headder{
background-color: blueviolet;
width: 100%;
height:  200px;
border-radius: 5px;
}
.top_menu{
background-color: coral;
width: 100%;
margin-top: 5px;
height: 50px;
}
.slidemenu{
 background: crimson;
 width: 30%;
 height: 354px;
 margin-top: 5px;
 padding: 1px 0;
 float: left;
}
.content{
 background-color: rgb(57, 182, 182);
 width: 69%;
 margin-top: 5px;
 height: 355px;
 float: right;
}
.footer{
 background-color: deeppink;
 width: 100%;
 margin-top: 5px;
 height: 70px;
}
@media only screen and (max-width: 765px) {
.wallpaper{
 width: 450px;
}
.headder
{
 background-color: brown;
}
.content
{
 background-color: burlywood;
 width: 100%;
}
.slidemenu{
 background-color: chartreuse;
 width: 100%;
 float: none;
}
}